<ion-header [translucent]="true">
  <ion-toolbar color = "primary">
    <ion-title>
      Мои сообщения
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col size-md="6" offset-md = "3">
      <ion-card>
        <ion-list>
          <ion-item (click) = "goToTelegram(user.id)" *ngFor = "let user of usersArray">
            <h2>{{user.name}}</h2>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>