<ion-header [translucent]="true">
  <ion-toolbar style="--background:  #951a1d; color: white;">
    <ion-title>Журнал событий</ion-title>
    <ion-buttons slot="end">
      <ion-button (click) = "close()">Закрыть</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-grid>
   <ion-row>
     <ion-col>
       <ion-card>
        <ion-list>
          <ion-item *ngFor="let event of eventArray">
            <ion-label>
              <h2>{{event.state}}</h2>
              <h3>{{event.date}} {{event.time}}</h3>
            </ion-label>
          </ion-item>
        </ion-list>
       </ion-card>
     </ion-col>
   </ion-row>
 </ion-grid>
</ion-content>